template(name="_pagesPage")
    div(style="position:relative;")
        {{#if ready}}
        {{else}}
        div(style="position:absolute; width:100%; text-align:center;")
            div(style="width:80px; border: 1px solid #999; border-radius:5px; padding:10px; margin:15px; display:inline-block; background-color:white;")
                img(src="/packages/pages/loader.gif")
        {{/if}}
        {{#each items}}
        {{{item}}}
        {{/each}}

template(name="_pagesNav")
    {{#if show}}
    .pagination-cont(style="text-align:center", data-pages="{{name}}")
        ul.pagination
            {{#each paginationNeighbors}}
            li(class="{{active}} {{disabled}}")
                a(href="{{link}}") {{p}}
            {{/each}}
    {{/if}}
template(name="_pagesItemDefault")
    div(style="margin:5px 40px; padding: 10px; border: 1px solid #999; border-radius: 15px;")
        {{#each properties}}
        div
            i {{name}}
            |: {{value}}
        {{/each}}